{% extends 'taller/base.html' %}
{% block content %}

<div class="container">
	<form action="/eliminarPropuestaParaAprobar/{{propuestaD.IdPropuesta}}" method="post">
		{% csrf_token %}
		<h2>Propuesta:</h2>
		<input class="form-control" type="text" name="txtNombrePropuestaAprobada" value="{{propuestaD.PropuestaNombre}}" readonly>
		<h3>Código:</h3>
		<input class="form-control" type="number" name="txtId" value="{{propuestaD.IdPropuesta}}" readonly>
		<h3>Detalle:</h3>
		<input class="form-control" type="text" name="txtDetallePropuestaAprobada" value="{{ propuestaD.PropuestaDetalle}}" readonly>	

		<div class="row">
			<div class="col text-center">
				<button class="btn btn-danger" type="submit">Eliminar</button></div>		
		</div>
	</form>
	

	<div class="row">
		<div class="col text-center">
			<a href="{% url 'propuestasParaAprobar' %}" class="btn btn-info" role="button">Volver</a>
		</div>		
	</div>

</div>

{% endblock %}