{% extends 'taller/base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2>Propuestas de la comunidad<br><small>Aquí esta las propuestas de la gente sobre que talleres quieren en la comuna. Usted puede votar sobre que taller quiere apoyar, para que así la municipalidad eliga los mas votados:</small></h2>
			{% if propuestasaprobadas %}					
					<table class="table">
						<thead>
					      <tr>
					        <th>Nombre Propuesta</th>
					        <th>Descripción</th>
					        <th>Cantidad votos</th>
					      </tr>
					    </thead>
					    {% for d in propuestasaprobadas|dictsortreversed:"vote_score" %}
					    <tbody>
					      <tr>
					        <td><a href="/propuesta/{{ d.IdPropuestaAprobada }}"><strong>{{d.PropuestaAprobadaNombre}}</strong></a></td>
					        <td><strong>{{d.PropuestaAprobadaDetalle}}</strong></td>	
					        <td><strong>{{d.vote_score}}</strong></td>		        
					      </tr>			      
					    </tbody>
					    {% endfor %}
					</table>	
			{% else %}
				<p>No Hay Propuestas registradas.</p>
		    {% endif %}
		    <h4>Si tienes una idea sobre un taller o una actividad que quieras que se haga en la comuna, haz click <a class="btn-link" href="agregarPropuesta">Aquí</a></h4>
			<div class="row">
				<div class="col text-center">
					<a href="/" class="btn btn-info" role="button">Volver</a>
				</div>		
			</div>
		</div>
	</div>
</div>
{% endblock %}