{% extends 'taller/base.html' %}
{% block content %}
<div id="containerDetallePropuesta" class="container">
	<h2>Propuesta: {{propuestaD.PropuestaAprobadaNombre}}</h2>
	<dl>
		<dt>Detalle: {{ propuestaD.PropuestaAprobadaDetalle}}</dt>
	</dl>

	<div class="row">
		<div class="col text-center">
			<a href="/propuvoto/{{propuestaD.IdPropuestaAprobada}}" class="btn btn-success" role="button" >Si</a>
		</div>		
	</div>	

	<div class="row">
		<div class="col text-center">
			<a id="linkVolver" href="/propunovoto/{{propuestaD.IdPropuestaAprobada}}" class="btn btn-warning" role="button">No</a>
		</div>		
	</div>	

	<div class="row">
		<div class="col text-center">
			<a href="{% url 'cargarPropuestas' %}" class="btn btn-info" role="button">Volver</a>
		</div>		
	</div>
</div>
{% endblock %}